.home-container {
  padding: 40px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #fff;
}
nav a {
  color: #44f;
  text-decoration: none;
  margin-left: 16px;
}
.search-bar {
  width: 60%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 4px;
  border: none;
}
section h2 {
  color: #fff;
}
